#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: yellow; }
body{
    width: 95%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px gold;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;  
}
h1 {
    clear: both;
    text-emphasis: bold;
    padding: 1em, 1em;
    border-bottom: 2px solid blue;
    
}
header {
    clear: both;
    border-bottom: 2px solid blue;
}


 h2 {
    font-size: 130%;
    text-indent: 30px;
}
article img {
    float: left;   
}

article{
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dashed blue;
    column-gap: 2em;
    margin-left: 2em;
}
article h3 {
    column-span: all;

}
article img {
    float: left;
    margin-right: 2em;
}
article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: aqua;
}
aside {
    width: 20%;
    float: right;
    position: fixed;
    top:0;
    right: 0;
    bottom: 5;
    background-color: aqua;
    padding: 1em,2em,2em;
    border: 5px solid blue;
}
footer {
    clear: both;
    border-top: 2px blue;
}
    footer p.copyright {
        text-align: center;
        font-size: 80%;
}
